/* Fonts */

//PT_Sans
@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url('/assets/fonts/Rubik/Rubik-Light.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('/assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('/assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('/assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype'); /* IE9 Compat Modes */
}
