/* Toast */

.jq-toast-wrap {
    .jq-icon-success {
        background-color: green;
    }
    .jq-icon-info {
        background-color: blue;
    }
    .jq-icon-warning {
        background-color: orangered;
    }
    .jq-icon-error {
        background-color: red;
    }
}